<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Losowanie Zadań</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Losowanie zadań</h1>
    
    <% if (osoba) { %>
        <form action="/losuj" method="get">
            <button type="submit">Losuj</button>
        </form>
    <% } else { %>
        <p id="maksOsob">Osiągnięto maksymalną liczbę osób.</p>
    <% } %>
    
    <form action="/reset" method="get">
        <button type="submit" id="resetStrony">Resetuj losowanie</button>
    </form>

    <% if (typeof history === 'string') { %>
        <p><%= history %></p>
    <% } else { %>
        <div class="result">
            <% history.forEach(item => { %>
                <p><strong><%= item.osoba %>:</strong></p>
                <p>Zadanie 1: <%= item.zadania[0].nazwa %> <em>(<%= item.zadania[0].etykiety.join(", ") %>)</em></p>
                <p>Zadanie 2: <%= item.zadania[1].nazwa %> <em>(<%= item.zadania[1].etykiety.join(", ") %>)</em></p>
            <% }); %>
        </div>
    <% } %>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const maksOsob = document.getElementById('maksOsob');
            const resetButton = document.getElementById('resetStrony');
    
            // Funkcja do wykrywania, czy element jest widoczny
            const isElementVisible = (el) => el && el.offsetParent !== null;
    
            // Po załadowaniu strony sprawdzamy, czy w localStorage jest informacja o osiągnięciu maksymalnej liczby osób
            if (localStorage.getItem('maxUsersReached') === 'true') {
                // Klikamy przycisk resetu (symulujemy kliknięcie przycisku)
                resetButton.click();
    
                // Usuwamy informację z localStorage, aby nie klikało przycisku resetu przy każdym załadowaniu strony
                localStorage.removeItem('maxUsersReached');
            }

            // Jeżeli komunikat "Osiągnięto maksymalną liczbę osób" jest widoczny,
            // zapisujemy w localStorage, że użytkownik widział ten komunikat
            if (isElementVisible(maksOsob)) {
                localStorage.setItem('maxUsersReached', 'true');
            }
        });
    </script>
    
    
</body>
</html>
